<ion-header>
  <ion-toolbar color="darkslateblue">
    <ion-title>
       Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="roxinho">
<ion-card>
  <ion-item>
      <ion-input placeholder="Coloque seu email">Email:</ion-input>
  </ion-item>

  <ion-item>

      <ion-input type="password">Senha:</ion-input>

  </ion-item>

</ion-card>

  <ion-item color="roxinho">
    <ion-button color="darkslateblue" >Entrar</ion-button>
  </ion-item>


<ion-item color="roxinho">
  <ion-button color="darkslateblue" >Salvar</ion-button>
  </ion-item>


  <u>
    <p>
   esqueceu a senha?
    </p>
        </u>
</ion-content>

<ion-card-header color="roxinho">
<ion-button routerLink="/tab1"  expand="block"color="darkslateblue">Voltar</ion-button>
</ion-card-header>
