<ion-header>
  <ion-toolbar color="darkslateblue">
    <ion-title>
       Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-input>Email:
    <ion-input placeholder= "coloque seu email" ></ion-input>
  </ion-input>
  </ion-item>

  <ion-item>
    <ion-input>Senha:
      <ion-input type = "password"></ion-input>
  </ion-input>
  </ion-item>


  <ion-item>
    <ion-button color="darkslateblue" expand="block">Entrar</ion-button>
  </ion-item>


  <ion-item routerLink="/registro">
    <ion-button color="white">Registrar</ion-button>
  </ion-item>


  <ion-item>
    <ion-button color="darkslateblue">Esqueceu a senha</ion-button>
  </ion-item>
<ion-item>

</ion-content>


  <ion-button routerLink="/tabs"  expand="block"color="darkslateblue">Voltar</ion-button>

