<ion-header>
  <ion-toolbar color="darkslateblue">
    <ion-title>
       Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="roxinho">
<ion-card>
  <ion-item>
      <ion-input placeholder="Coloque seu email">Email:</ion-input>
  </ion-item>

  <ion-item>
    <ion-input>Senha:
      <ion-input type = "password"></ion-input>
  </ion-input>
  </ion-item>

</ion-card>

  <ion-item>
    <ion-button color="darkslateblue" expand="block">Entrar</ion-button>
  </ion-item>

<ion-item>
    <ion-button color="white">Registrar</ion-button>
  </ion-item>




  <u>
    <p>
    esqueceu a senha?
    </p>
        </u>

</ion-content>
<ion-button routerLink="/tab1"  expand="block"color="darkslateblue">Voltar</ion-button>


