<ion-header>
  <ion-toolbar color="darkslateblue">
    <ion-title>Produto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="roxinho">
  <img src="" alt="">
  <ion-card>
    <ion-item>
        <ion-input>Nome:</ion-input>
    </ion-item>

    <ion-item>
        <ion-input>Descrição:</ion-input>
    </ion-item>

    <ion-item>
      <ion-input>Validade:</ion-input>
  </ion-item>

  <ion-item>
    <ion-input>Preço:</ion-input>
</ion-item>
  </ion-card>
</ion-content>
<ion-card-header color="roxinho">
<ion-button routerLink="/tab1"  expand="block"color="darkslateblue">Voltar</ion-button>
</ion-card-header>
