<ion-header>
  <ion-toolbar>
    <ion-title>produto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
        <ion-input>Nome:</ion-input>
    </ion-item>

    <ion-item>
        <ion-input>Descrição:</ion-input>
    </ion-item>

    <ion-item>
      <ion-input>Validade:</ion-input>
  </ion-item>

  <ion-item>
    <ion-input>Preço:</ion-input>
</ion-item>
  </ion-card>
</ion-content>
<ion-button routerLink="/tab1"  expand="block"color="darkslateblue">Voltar</ion-button>
