<ion-header>
  <ion-toolbar color="darkslateblue">
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="roxinho" >
<ion-card>
  <ion-item>
    <ion-input placeholder=" Ana Clara Duarte">Nome:</ion-input>
  </ion-item>

  <ion-item>

    <ion-input placeholder=" 111.111.111-11">CPF:</ion-input>
  </ion-item>


  <ion-item>
    <ion-input placeholder=" coloque seu email "> Email: </ion-input>
  </ion-item>

  <ion-item>
    <ion-input>Senha:
      <ion-input type = "password"></ion-input>
  </ion-input>
  </ion-item>
  <ion-item>
    <ion-input>Confirmar Senha:
      <ion-input type = "password"></ion-input>
  </ion-input>
  </ion-item>
</ion-card>
  <div id="ion-button">
    <ion-button shape="round" color="darkslateblue">Salvar</ion-button>
  </div>

</ion-content>


<ion-card-header color="roxinho">


<ion-button routerLink="/tabs"  expand="block"color="darkslateblue">Voltar</ion-button>
</ion-card-header>
