<ion-header>
  <ion-toolbar color="darkslateblue">
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-input placeholder=" Ana Clara Duarte">Nome:</ion-input>
  </ion-item>

  <ion-item>

    <ion-input placeholder=" 111.111.111-11">CPF:</ion-input>
  </ion-item>


  <ion-item>
    <ion-input placeholder=" coloque seu email "> Email: </ion-input>
  </ion-item>

  <ion-item>
    <ion-input>Senha:
      <ion-input type = "password"></ion-input>
  </ion-input>
  </ion-item>

  <ion-item>
    <ion-input>Confirmar Senha:
      <ion-input type = "password"></ion-input>
  </ion-input>
  </ion-item>
  <ion-item>
    <ion-button>Salvar</ion-button>
  </ion-item>


</ion-content>
<ion-button routerLink="/tabs"  expand="block"color="darkslateblue">Voltar</ion-button>
